<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salidas</title>
    <!--Links importantes-->
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/bootstrap-icons.min.css">

    <link rel="stylesheet" href="../resources/css/dashboard.css">
    <link rel="stylesheet" href="../resources/css/salidas.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link rel="icon" href="../resources/img/por el momento.jpg">
</head>

<body id="body">
    <main>
        <div class=" container2 row d-flex justify-content-center">
            <div class="col-md-9  d-flex justify-content-center">
                <div class="botones">
                    <a href="admin_ingresos.html"><button type="button" class="btn2"><i class="fa-solid fa-tag"></i>
                            Ingresos</button></a>
                    <a href="admin_modulo_compras.html"><button type="button" class="btn2"><i
                                class="fa-solid fa-users"></i> Compras</button></a>
                    <a href="admin_salida.html"><button type="button" class="btn2-seleccionado"><i
                                class="fa-solid fa-diagram-project"></i>
                            Salidas</button></a>
                </div>
            </div>
        </div>

        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search"
                            placeholder="Buscar por nombre" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="fa-solid fa-eraser"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <!-- Boton para abrir el historial de compras-->
                <button type="button" class="btn btn-secondary" onclick="openCreate()">
                    <i class="fa-regular fa-clipboard"></i>
                </button>
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover text-center">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td class="text-start" colspan="7" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>NÚMERO SALIDA</th>
                    <th>TIPO SALIDA</th>
                    <th>CANTIDAD SALIDA</th>
                    <th>FECHA</th>
                    <th>CLIENTE</th>
                    <th>DEPENDIENTE</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <input type="number" class="d-none" id="idSalida" name="idSalida">
                            <div class="col-sm-12 col-md-6">
                                <label for="numeroSalida" class="form-label">Número de Salida</label>
                                <input id="numeroSalida" type="number" name="numeroSalida" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="tipoSalida" class="form-label">Tipo de salida</label>
                                <input id="tipoSalida" type="text" name="tipoSalida" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="cantidadSalida" class="form-label">Cantidad</label>
                                <input id="cantidadSalida" type="number" name="cantidadSalida" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="entregaSalida" class="form-label">Entrega</label>
                                <input class="form-control" id="entregaSalida" name="entregaSalida"></input>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="fechaSalida" class="form-label">Fecha de Salida</label>
                                <input id="fechaSalida" type="date" name="fechaSalida" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="cliente" class="form-label">Cliente</label>
                                <select id="cliente" name="cliente" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="Dependiente" class="form-label">Dependiente</label>
                                <select id="Dependiente" name="Dependiente" class="form-select" required>
                                </select>
                            </div > 
                            <div class="col-sm-12 col-md-6">
                                <label for="notaSalida" class="form-label">Agregue una nota sobre la salida</label>
                                <textarea class="form-control" id="notaSalida" name="notaSalida"
                                    rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="../resources/js/dashboardAdminPlantilla.js"></script>
    <script src="../controllers/utils/admin.js"></script>
    <script src="../controllers/utils/components.js"></script>

    <!-- Llamada al kit de font awesome -->
    <script src="https://kit.fontawesome.com/f6e8d56735.js" crossorigin="anonymous"></script>

    <!-- Scripts de JavaScript -->
    <!-- Agrega los enlaces a los scripts de Bootstrap y SweetAlert2 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../controllers/admin/admin_salidas.js"></script>

</body>
</html>