<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>

    <!--Link de ccs bootstrap-->
    <link rel="icon" href="../resources/img/por el momento.jpg">
    <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <!--Link del css-->
    <link type="text/css" rel="stylesheet" href="../resources/css/dashboard.css">
    <link rel="stylesheet" href="../resources/css/modulo_compras.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body id="body">
    <main>
        <div class=" container2 row d-flex justify-content-center">
            <div class="col-md-9  d-flex justify-content-center">
                <div class="botones">
                    <a href="admin_ingresos.html"><button type="button" class="btn2"><i class="fa-solid fa-tag"></i>
                            Ingresos</button></a>
                    <a href="admin_modulo_compras.html"><button type="button" class="btn2-seleccionado"><i
                                class="fa-solid fa-users"></i> Compras</button></a>
                    <a href="admin_salida.html"><button type="button" class="btn2"><i
                                class="fa-solid fa-diagram-project"></i>
                            Salidas</button></a>
                </div>
            </div>
        </div>

        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search"
                            placeholder="Buscar por nombre, código, descripción o presentación" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="fa-solid fa-eraser"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <!-- Boton para abrir el historial de compras-->
                <button type="button" class="btn btn-secondary" onclick="openCreate()">
                    <i class="fa-regular fa-clipboard"></i>
                </button>
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover text-center">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td class="text-start" colspan="7" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>IMAGEN</th>
                    <th>CóDIGO</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCIóN</th>
                    <th>FECHA VENCIMIENTO</th>
                    <th>PRESENTACION</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <input type="number" class="d-none" id="idCompra" name="idCompra">
                            <div class="col-sm-12 col-md-6">
                                <label for="idCompra" class="form-label">Numero de compra</label>
                                <input id="idCompra" type="number" name="idCompra" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="factura" class="form-label">Factura</label>
                                <input class="form-control" id="factura" name="factura"></input>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="fecha" class="form-label">Fecha</label>
                                <input id="fecha" type="date" name="fecha" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="serie" class="form-label">Serie</label>
                                <input id="serie" type="text" name="serie" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="nota" class="form-label">nota</label>
                                <textarea id="nota" name="nota" class="form-select" required rows="3">
                                </textarea>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="seriePersepcion" class="form-label">Serie persepción</label>
                                <input id="seriePersepcion" type="text" name="seriePersepcion" class="form-control"
                                    required>
                                </input>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="NIT" class="form-label"> NIT</label>
                                <input id="NIT" type="text" name="NIT" class="form-control" required>
                                </input>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="idProducto" class="form-label">Producto</label>
                                <select id="idProducto" name="idProducto" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="idFormaPago" class="form-label">Forma de pago</label>
                                <select id="idFormaPago" name="idFormaPago" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="idBodega" class="form-label">Bodega</label>
                                <select id="idBodega" name="idBodega" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="idDocumento" class="form-label">Documento</label>
                                <select id="idDocumento" name="idDocumento" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="idTipoDocumento" class="form-label">Tipo de documento</label>
                                <select id="idTipoDocumento" name="idTipoDocumento" class="form-select" required>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="../resources/js/dashboardAdminPlantilla.js"></script>
    <script src="../controllers/utils/admin.js"></script>
    <script src="../controllers/utils/components.js"></script>

    <!-- Llamada al kit de font awesome -->
    <script src="https://kit.fontawesome.com/f6e8d56735.js" crossorigin="anonymous"></script>

    <!-- Scripts de JavaScript -->
    <!-- Agrega los enlaces a los scripts de Bootstrap y SweetAlert2 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>

    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../controllers/admin/admin_modulo_compras.js"></script>

</body>

</html>