<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <!--Links importantes-->
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/dashboard.css">
    <link rel="stylesheet" href="../resources/css/maestro_productos.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body id="body">

    <main>

        <div class=" container2 row d-flex justify-content-center">
            <div class="col-md-9  d-flex justify-content-center">
                <div class="botones">
                    <a href="admin_maestro_productos.html"><button type="button" class="btn-seleccionado"><i
                                class="fa-solid fa-tag"></i> Productos</button></a>
                    <a href="admin_maestro_clientes.html"><button type="button" class="btn1"><i
                                class="fa-solid fa-users"></i>
                            Clientes</button></a>
                    <a href="admin_maestros_proveedores.html"><button type="button" class="btn1"><i
                                class="fa-solid fa-diagram-project"></i> Proveedores</button></a>
                    <a href="admin_maestro_vendedores.html"><button type="button" class="btn1"><i
                                class="fa-solid fa-hand-holding-dollar"></i> Dependientes</button></a>
                    <a href="admin_maestro_laboratorios.html"><button type="button" class="btn1"><i
                                class="fa-solid fa-flask-vial"></i> Laboratorios</button></a>
                </div>
            </div>
        </div>

        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search"
                            placeholder="Buscar por nombre, categoría, tipo o deporte" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="fa-solid fa-eraser"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <!-- Boton para abrir el historial de compras-->
                <button type="button" class="btn btn-secondary" onclick="openCreate()">
                    <i class="fa-regular fa-clipboard"></i>
                </button>
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="fa-solid fa-plus"></i>
                </button>



            </div>
        </div>

        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover text-center">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td class="text-start" colspan="8" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>IMAGEN</th>
                    <th>CODIGO</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCION</th>
                    <th>FECHA VENCIMIENTO</th>
                    <th>PRECIO VENTA c/IVA</th>
                    <th>COSTO UNITARIO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="number" class="d-none" id="idProducto" name="idProducto">
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreProducto" class="form-label">Nombre</label>
                                <input id="nombreProducto" type="text" name="nombreProducto" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="descripcionProducto" class="form-label">Descripción</label>
                                <input id="descripcionProducto" type="text" name="descripcionProducto"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="codigoProducto" class="form-label">Codigo</label>
                                <input id="codigoProducto" type="text" name="codigoProducto" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="fechaVencimiento" class="form-label">Fecha de vencimiento</label>
                                <input id="fechaVencimiento" type="date" name="fechaVencimiento" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="precioSinIVA" class="form-label">Precio sin IVA</label>
                                <input id="precioSinIVA" type="number" name="precioSinIVA" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="precioVentaConIVA" class="form-label">Precio de venta c/IVA</label>
                                <input id="precioVentaConIVA" type="number" name="precioVentaConIVA"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="precioUnitario" class="form-label">Precio unitario</label>
                                <input id="precioUnitario" type="number" name="precioUnitario" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="imagenProducto" class="form-label">Imagen</label>
                                <input id="imagenProducto" type="file" name="imagenProducto" class="form-control"
                                    accept=".png, .jpg">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </main>
    <script type="text/javascript" src="../resources/js/dashboardAdminPlantilla.js"></script>
    <script type="text/javascript" src="../resources/js/alertas.js"></script>
    <script src="../controllers/utils/admin.js"></script>
    <script src="../controllers/utils/components.js"></script>
    <!-- Llamada al kit de font awesome -->
    <script src="https://kit.fontawesome.com/f6e8d56735.js" crossorigin="anonymous"></script>

    <!-- Scripts de JavaScript -->
    <!-- Agrega los enlaces a los scripts de Bootstrap y SweetAlert2 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>

    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../controllers/admin/admin_maestro_productos.js"></script>
</body>


</html>