<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>

    <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="../resources/css/maestros_proveedores.css">
    <link rel="stylesheet" href="../resources/css/dashboard.css">
    <link rel="stylesheet" href="../resources/css/maestro_proveedores.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" href="../img/por el momento.jpg">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body id="body">

    <main>

        <div class=" container2 row d-flex justify-content-center">
            <div class="col-md-9  d-flex justify-content-center">
                <div class="botones">
                    <a href="admin_maestro_productos.html"><button type="button" class="btn"><i
                                class="fa-solid fa-tag"></i> Productos</button></a>
                    <a href="admin_maestro_clientes.html"><button type="button" class="btn"><i class="fa-solid fa-users"></i>
                            Clientes</button></a>
                    <a href="admin_maestros_proveedores.html"><button type="button" class="btn-seleccionado"><i
                                class="fa-solid fa-diagram-project"></i> Proveedores</button></a>
                    <a href="admin_maestro_vendedores.html"><button type="button" class="btn"><i
                                class="fa-solid fa-hand-holding-dollar"></i> Dependientes</button></a>
                    <a href="admin_maestro_laboratorios.html"><button type="button" class="btn"><i
                                class="fa-solid fa-flask-vial"></i> Laboratorios</button></a>
                </div>
            </div>
        </div>
         <!-- Formulario de búsqueda -->
         <form class="col-sm-12 col-md-6" id="searchForm">
            <div class="row">
                <div class="col-6">
                    <input type="search" class="form-control" name="search" placeholder="Buscar por nombre, código, país, etc." required>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn1 btn-success">
                        <i class="fa-solid fa-magnifying-glass"></i> Buscar
                    </button>
                    <button type="button" class="btn1 btn-secondary" onclick="fillTable()">
                        <i class="fa-solid fa-eraser"></i> Limpiar
                    </button>
                </div>
            </div>
        </form>
        <div class="col-sm-12 col-md-6 text-end">
            <!-- Botón para abrir el modal de creación -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal">
                <i class="fa-solid fa-plus"></i> Agregar Proveedor
            </button>
        </div>
    </div>

    <!-- Tabla para mostrar los registros existentes -->
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <td class="text-start" colspan="8" id="rowsFound"></td>
            </tr>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Giro Negocio</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Aquí se llenarán dinámicamente los datos -->
        </tbody>
    </table>

    <!-- Modal para guardar o actualizar un registro -->
    <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Agregar Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="saveForm">
                    <div class="modal-body">
                        <!-- Aquí van los campos del formulario -->
                        <input type="hidden" id="idProveedor" name="idProveedor">
                        <div class="mb-3">
                            <label for="nombreProveedor" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombreProveedor" name="nombreProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="codigoProveedor" class="form-label">Código</label>
                            <input type="text" class="form-control" id="codigoProveedor" name="codigoProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="paisProveedor" class="form-label">País</label>
                            <input type="text" class="form-control" id="paisProveedor" name="paisProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="giroNegocioProveedor" class="form-label">Giro Negocio</label>
                            <input type="text" class="form-control" id="giroNegocioProveedor" name="giroNegocioProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="duiProveedor" class="form-label">DUI</label>
                            <input type="text" class="form-control" id="duiProveedor" name="duiProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombreComercialProveedor" class="form-label">Nombre Comercial</label>
                            <input type="text" class="form-control" id="nombreComercialProveedor" name="nombreComercialProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechaProveedor" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="fechaProveedor" name="fechaProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="nitProveedor" class="form-label">NIT</label>
                            <input type="text" class="form-control" id="nitProveedor" name="nitProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefonoProveedor" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="telefonoProveedor" name="telefonoProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="contactoProveedor" class="form-label">Contacto</label>
                            <input type="text" class="form-control" id="contactoProveedor" name="contactoProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="direccionProveedor" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="direccionProveedor" name="direccionProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="departamentoProveedor" class="form-label">Departamento</label>
                            <input type="text" class="form-control" id="departamentoProveedor" name="departamentoProveedor" required>
                        </div>
                        <div class="mb-3">
                            <label for="municipioProveedor" class="form-label">Municipio</label>
                            <input type="text" class="form-control" id="municipioProveedor" name="municipioProveedor" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
    <!--Mandamos a llamar los archivos js del sitio web-->
    <script type="text/javascript" src="../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/dashboardAdminPlantilla.js"></script>
    <script type="text/javascript" src="../resources/js/alertas.js"></script>
    <!--Mandamos a llamar las librerias de Sweetalert2-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>