<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>

    <!--Links importantes-->
   
    <!-- Links importantes -->
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/dashboard.css">
    <link rel="stylesheet" href="../resources/css/maestro_laboratorios.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body id="body">

    <main>
        <div class=" container2 row d-flex justify-content-center">
            <div class="col-md-9  d-flex justify-content-center">
                <div class="botones">
                    <a href="admin_usuarios.html"><button type="button" class="btn-seleccionado"><i
                                class="fa-solid fa-tag"></i>
                            Usuarios</button></a>
                </div>
            </div>
        </div>
        <br><br>

        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search"
                            placeholder="Buscar por laboratorio o codigo" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="fa-solid fa-eraser"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <!-- Boton para abrir el historial de compras-->
                <button type="button" class="btn btn-secondary" onclick="openCreate()">
                    <i class="fa-regular fa-clipboard"></i>
                </button>
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="fa-solid fa-plus"></i>
                </button>

            </div>
        </div>


        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <td class="text-start" colspan="8" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>USUARIO</th>
                    <th>NOMBRE</th>
                    <th>TELÉFONO</th>
                    <th>CORREO</th>
                    <th>DUI</th>
                    <th>NIVEL</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <input type="number" class="d-none" id="idUsuario" name="idUsuario">
                            <div class="col-sm-12 col-md-6">
                                <label for="Usuario" class="form-label">Usuario</label>
                                <input id="Usuario" type="text" name="Usuario" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreUsuario" class="form-label">Nombre</label>
                                <input id="nombreUsuario" type="text" name="nombreUsuario" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="telefonoUsuario" class="form-label">Telefono</label>
                                <input id="telefonoUsuario" type="text" name="telefonoUsuario" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="correoUsuario" class="form-label">Correo</label>
                                <input id="correoUsuario" type="text" name="correoUsuario" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="DUIUsuario" class="form-label">DUI</label>
                                <input id="DUIUsuario" type="text" name="DUIUsuario" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="Clave" class="form-label">Clave</label>
                                <input id="Clave" type="password" name="Clave" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="idNivelUsuario" class="form-label">Nivel</label>
                                <select id="idNivelUsuario" name="idNivelUsuario" class="form-select" required>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!--Importaciones-->
    <script type="text/javascript" src="../resources/js/dashboardAdminPlantilla.js"></script>
    <script src="../controllers/utils/admin.js"></script>
    <script src="../controllers/utils/components.js"></script>

    <!-- Llamada al kit de font awesome -->
    <script src="https://kit.fontawesome.com/f6e8d56735.js" crossorigin="anonymous"></script>

    <!-- Scripts de JavaScript -->
    <!-- Agrega los enlaces a los scripts de Bootstrap y SweetAlert2 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>

    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../controllers/admin/admin_usuarios.js"></script>
</body>

</html>