<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Codificación del documento -->
  <meta charset="UTF-8">
  <!-- Compatibilidad con Internet Explorer -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Escalabilidad para dispositivos -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Links importantes -->
  <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="../resources/css/dashboard.css">
  <link rel="stylesheet" href="../resources/css/maestro_laboratorios.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  

</head>

<body id="body">


  <!-- Contenido principal del documento -->
  <main>
    <!-- Título del contenido principal -->
    <h3 id="mainTitle"></h3>
  </main>




  <!-- Controlador del sitio privado -->

  <!-- Controlador específico de esta página -->
  <script type="text/javascript" src="../controllers/admin/dashboard.js"></script>

  <!--Importaciones-->
  <script type="text/javascript" src="../resources/js/dashboardAdminPlantilla.js"></script>
  <script type="text/javascript" src="../controllers/utils/admin.js"></script>

  <!--Controladores globales-->

  <script src="../controllers/utils/components.js"></script>

  <!-- Llamada al kit de font awesome -->
  <script src="https://kit.fontawesome.com/f6e8d56735.js" crossorigin="anonymous"></script>

  <!-- Scripts de JavaScript -->
  <!-- Agrega los enlaces a los scripts de Bootstrap y SweetAlert2 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
  <!-- Llamada al framework y librería de mensajes -->
  <script type="text/javascript" src="../resources/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>



</body>

</html>