<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo de ventas</title>


    <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../resources/css/dashboard.css">
    <link rel="stylesheet" href="../resources/css/modulo_ventas.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body id="body">




    <main>
        <!--Formulario de busqueda -->
        <div>
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar producto" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="lni lni-search-alt"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="lni lni-eraser"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--DIV para separar los 3 loques de inputs-->
        <div class="row">
            <!--Primer bloque de inputs-->
            <div class="panel1 col-md-4">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputFecha" class="form-label" style="color: red;">Fecha*</label>
                        <input type="date" class="form-control" id="inputFecha">
                    </div>
                    <div class="col-md-6">
                        <label for="inputVendedor" class="form-label"style="color: red;">Vendedor* (este es el valor del dependiente de la tabla del dependiente. tiene que ser un buscador por medio del codigo o del nombre. tenes que agregarle otro espacio de escritura, el primero que sea el codigo y el otro el nombre como tal)</label>
                        <input type="text" class="form-control" id="inputVendedor">
                    </div>

                    <div class="col-md-6">
                        <label for="inputPago" class="form-label"style="color: red;">Forma de pago* (las formas de pago vienen desde la base)</label>
                        <select id="inputPago" name="inputPago" class="form-select" required>
                            <option value="">Seleccionar </option>
                            <option value="Zapatillas">Efectivo </option>
                            <option value="Jerseys">Tarjeta de credito</option>
                            <option value="Jerseys">Tarjeta de debito</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputBodega" class="form-label"style="color: red;">Bodega* (la bodega viene desde la base)</label>
                        <select id="inputBodega" name="inputBodega" class="form-select" required>
                            <option value="">Seleccionar </option>
                            <option value="Zapatillas">Bodega 1</option>
                            <option value="Jerseys">Bodega 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Bloque de inputs 2-->
            <div class="panel2 col-md-4">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputDocumento" class="form-label"style="color: red;">Documento*  (el documento tiene que venir desde la base, eso ya esta creado)</label>
                        <select id="inputDocumento" name="inputDocumento" class="form-select" required>
                            <option value="">Seleccionar </option>
                            <option value="Zapatillas">Documento 1</option>
                            <option value="Jerseys">Documento 2</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputVendedor" class="form-label"style="color: red;">Cliente* (aqui tenes que hacer un buscador para clientes, solo debe funcionar con el nombre)</label>
                        <input type="text" class="form-control" id="inputVendedor">
                    </div>

                    <div class="col-6">
                        <label for="inputNotas" class="form-label">Notas (las notas no son obligatorias, puede recibir valores nulos)</label>
                        <input type="text" class="form-control" id="inputNotas">
                    </div>
                </div>
            </div>
        </div>
<p>NOTA:
    Aqui en este apartado tenes que hacer un buscador para buscar los productos que se van a vender. Usando el codigo se tiene que cargar el resto de la informacion del producto en los campos de abajo, asi como el precio unitario, cantidad, etc.
    Los precios opcionales pueden quedar de igual forma vacios. En la tabla tenes que hacer que donde aparece el # se pueda buscar por el nombre o por el codigo del producto y se llene lo demas.
</p>
        <!--Linea meramente estetica para separar las secciones de la pagina-->
        <hr class="hr">  

        <!--Codigo de la tabla donde se mostraran las ventas-->
        <div class="container1 row">
            <div class="  col-md-10 col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--Inputs donde se calculará el precio de la venta y donde se mostrarán otros precios de venta sugeridos -->
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">TOTAL $</span>
                    <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Precio 2</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Precio 3</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Precio 4</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Precio 5</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Otro precio</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        
        <div class=" container2 row">
            <div class="col-md-6">
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn1" id="btnEditar"><i class="fa-solid fa-pen fa-1x"></i> Editar</button>
                    <button type="button" class="btn1" id="btnAgregar"><i class="fa-solid fa-circle-plus fa-1x"></i> Agregar</button>
                    <button type="button" class="btn1" id="btnImprimir"><i class="fa-solid fa-print fa-1x"></i> Imprimir</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">N. Lineas</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Sub total</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">IVA</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Retención</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Exento</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Efectivo</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Cambio</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


<!--Mandamos a llamar los archivos js del sitio-->
<script type="text/javascript" src="../resources/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../resources/js/modulo_ventasDashboard.js"></script>
<script type="text/javascript" src="../resources/js/alertas.js"></script>
<!--Mandamos a llamar las librerias de Sweetalert2-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>