<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo de venta</title>

    <!-- Links importantes -->
    <link rel="icon" href="../resources/img/por el momento.jpg">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/dashboard.css">
    <link rel="stylesheet" href="../resources/css/maestro_laboratorios.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body id="body">
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <div class="row">
            <div class="col-sm-12 col-md-12 text-end">
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>

        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <td class="text-start" colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>FECHA</th>
                    <th>VENDEDOR</th>
                    <th>CLIENTE</th>
                    <th>BODEGA</th>
                    <th>NOTA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Inputs Ocultos -->
                            <input type="number" class="d-none" id="idVenta" name="idVenta">
                            <!-- Fecha -->
                            <div class="col-sm-12 col-md-6">
                                <label for="FechaVenta" class="form-label">Fecha</label>
                                <input type="date" id="FechaVenta" name="FechaVenta" required>
                            </div>
                            <!-- Vendedor -->
                            <div class="col-sm-12 col-md-6">
                                <label for="Vendedor" class="form-label">Vendedor</label>
                                <select id="Vendedor" name="Vendedor" class="form-select" required>
                                </select>
                            </div>
                            <!-- Bodega -->
                            <div class="col-sm-12 col-md-6">
                                <label for="BodegaVenta" class="form-label">Bodega</label>
                                <select id="BodegaVenta" name="BodegaVenta" class="form-select" required >
                                    <!-- Opciones de bodega serán llenadas desde la base de datos -->
                                </select>
                            </div>
                            <!-- Cliente -->
                            <div class="col-sm-12 col-md-6">
                                <label for="ClienteVenta" class="form-label">Cliente</label>
                                <select id="ClienteVenta" name="ClienteVenta" class="form-select" required>
                                </select>
                            </div>
                            <!-- Notas -->
                            <div class="col-sm-12 col-md-6">
                                <label for="Notasventa" class="form-label">Notas</label>
                                <input type="text" class="form-control" name="Notasventa" id="Notasventa">
                            </div>
                    </form>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>



        </div>
        <!-- Modal para agregar productos a la venta -->
        <div class="modal fade" id="saveModalDetalle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitleDetalle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleDetalle"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Cuerpo del modal -->
                    <div class="modal-body">
                        <form id="saveFormDetalle">
                            <div class="modal-body row g-3">
                                <!-- Inputs Ocultos -->
                                <input type="number" class="d-none" id="idVentaDetalle" name="idVentaDetalle">
                                <input type="number" class="d-none" id="idDetalle" name="idDetalle">


                                <div class="col-sm-12 col-md-6">
                                    <label for="codigoDetalle" class="form-label">Codigo</label>
                                    <input type="number" class="form-control" id="codigoDetalle" name="codigoDetalle"
                                        required>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="cantidadDetalle" class="form-label">Cantidad</label>
                                    <input type="number" class="form-control" id="cantidadDetalle"
                                        name="cantidadDetalle" required>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="NombreDetalle" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="NombreDetalle" name="NombreDetalle"
                                        readonly>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="PresentacionDetalle" class="form-label">Presentacion</label>
                                    <input type="text" class="form-control" id="PresentacionDetalle"
                                        name="PresentacionDetalle" readonly>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="precioUnitarioDetalle" class="form-label">Precio Unitario</label>
                                    <input type="number" class="form-control" id="precioUnitarioDetalle"
                                        name="precioUnitarioDetalle" readonly>
                                </div>

                            </div>

                        </form>

                        <!-- Tabla para mostrar los productos disponibles -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <!-- Muestra la cantidad de filas encontradas -->
                                    <td class="text-start" colspan="5" id="rowsFoundDetalle"></td>
                                </tr>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario</th>
                                    <th>subtotal</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tableBodyDetalle"></tbody>
                        </table>
                        <p class="text-end">TOTAL A PAGAR (US$) <b id="pago"></b></p>
                    </div>

                    <!-- Pie del modal -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" form="saveFormDetalle">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <!--Importaciones-->
    <script src="../controllers/utils/admin.js"></script>
    <script src="../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../resources/js/modulo_ventasDashboard.js"></script>

    <!-- Llamada al kit de font awesome -->
    <script src="https://kit.fontawesome.com/f6e8d56735.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>

    <!-- Llamada a jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Llamada al controlador de la página web -->
    <script src="../controllers/admin/modulo_ventas.js"></script>



</body>

</html>