.form-control {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
}

.btn-primary {
    border-radius: 50px;
    padding: 10px 20px;
}
.form-control:valid {
    border-color: #28a745;
}

.form-control:invalid {
    border-color: #dc3545;
}


#omit2FA{
    margin-top: 20px !important;
    margin-left: 45% !important;
}