.form-control {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
}

.btn-primary {
    border-radius: 50px;
    padding: 10px 20px;
}
.form-control:valid {
    border-color: #28a745;
}

.form-control:invalid {
    border-color: #dc3545;
}


#omit2FA{
    margin-top: 20px !important;
    margin-left: 45% !important;
}

html, body {
    height: 100%; /* Hacer que la página tenga el 100% del alto */
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Hacer que el contenido principal ocupe todo el espacio disponible */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}
