*{
    font-family: 'Poppins';
}

.btn {
    color: #5D41DE;
    background-color: #d2d9f1;
    border-color: #d2d9f1;
    width: 200px;
    height: 65px;
    font-family: 'Poppins';
    border-radius: 15px;
}
.btn:hover {
    color: #ebd7d6;
    background-color: #5D41DE;
    border-color: #ebd7d6
}

.input-group{
    color: black;
}

.container{
    margin-top: 15px;
    width: 300px;
    margin-left: 10px;
}

.largo{
    width: 500px;
    color: black;
}

.sinIVA{
    width: 300px;
    margin-top: -53px;
}

.largo1{
    width: 300px;
    margin-top: -53px;
    margin-left: 300px;
}