body{
    background-color: #E7F4F4;
}

.btn {
    color: #5D41DE;
    background-color: #d2d9f1;
    border-color: #d2d9f1;
    width: 200px;
    height: 65px;
    font-family: 'Poppins';
    border-radius: 15px;
}
.btn:hover {
    color: #ebd7d6;
    background-color: #5D41DE;
    border-color: #ebd7d6
}


.btn1 {
    color: #ff342b;
    background-color: #ebd7d6;
    border-color: #ebd7d6;
    width: 150px;
    height: 65px;
    font-family: 'Poppins';
    border-radius: 15px;
}
.btn1:hover {
    color: #ebd7d6;
    background-color: #ff342b;
    border-color: #ebd7d6
}

#botones{
    margin-top: 5%;
}