body{
    background-color: #E7F4F4;
}


.panel1 {
    margin-top: 25px;
    display: flex; /* Convertimos panel1 en un contenedor flex */
    flex-direction: column; /* Organizamos los elementos verticalmente */
    align-items: flex-end; /* Alineamos los elementos al borde derecho */
}

.panel1 .row {
    display: flex; /* Convertimos cada fila en un contenedor flex */
    align-items: center; /* Alineamos los elementos verticalmente dentro de cada fila */
}

.container1{
    margin-top:5%;
}

.container2{
    margin-top:3%;
}




.btn1 {
    color: #ff342b;
    background-color: #ebd7d6;
    border-color: #ebd7d6;
    width: 150px;
    height: 65px;
    font-family: 'Poppins';
    border-radius: 15px;
}
.btn1:hover {
    color: #ebd7d6;
    background-color: #ff342b;
    border-color: #ebd7d6
}

